---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Main from "../layouts/Main.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Main class="space-y-2">
		<p class="text-5xl text-left w-3/5 leading-normal">
			I'm a software engineer and web development enthusiast, here to
			learn and grow.
		</p>
		<h1 class="text-[13.75rem] ml-auto mr-20">Je12emy</h1>
	</Main>
</html>
