---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Main from "../layouts/Main.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Main class="space-y-4 md:space-y-2 text-center justify-center items-center">
		<h1 class="text-7xl md:text-[13.75rem] text-white">
			Je12emy
		</h1>
		<p class="text-3xl md:text-5xl md:w-3/5 leading-relaxed">
			I'm a software engineer and web development enthusiast, here to
			learn and grow.
		</p>
	</Main>
</html>
