---
type Props = {
    text: string;
};
const { text } = Astro.props;
---

<button
    class="p-4 rounded-md text-2xl md:text-3xl font-bold font-nunito cursor-pointer text-slate-900 bg-gradient-to-b from-cyan-500 to-blue-500 hover:from-cyan-400 hover:to-blue-400 transition-colors duration-500"
    >{text}
</button>
