---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon";
---

<header>
	<nav
		class="flex flex-row justify-around items-center text-gray-50 no-underline mt-8 text-5xl"
	>
		<HeaderLink
			href="/"
			class="font-inter font-light text-7xl tracking-[-0.165em]"
			>12</HeaderLink
		>
		<div class="flex flex-row justify-center items-center space-x-8 no-underline font-thin font-open-sans">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="https://github.com/je12emy" target="_blank">
				<Icon
					class="w-16 h-16 text-gray-50"
					name="ant-design:github-fill"
				/>
			</HeaderLink>
			<HeaderLink href="https://twitter.com/jel2emy" target="_blank">
				<Icon
					class="w-16 h-16 text-gray-50"
					name="ant-design:twitter-circle-filled"
				/>
			</HeaderLink>
		</div>
	</nav>
</header>
