---
import HeaderLink from "./HeaderLink.astro";
---

<header class="w-44">
	<nav class="h-full w-full flex flex-col items-center">
		<div class="mt-6 flex flex-col">
			<HeaderLink href="/">About</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		<div class="mb-6 mt-auto">
			<HeaderLink
				href="https://twitter.com/astrodotbuild"
				target="_blank"
			>
				Twitter
			</HeaderLink>
			<HeaderLink
				href="https://github.com/withastro/astro"
				target="_blank"
			>
				GitHub
			</HeaderLink>
		</div>
	</nav>
</header>
