---
import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon";
---

<script>
	const menuButton = document.querySelector("#menuToggle");
	const menu = document.querySelector("#menu");
	menuButton?.addEventListener("click", () => {
		menu?.classList?.toggle("hidden");
	});
</script>

<header>
	<nav
		class="flex flex-row-reverse items-start md:flex-row justify-around md:items-center text-gray-50 no-underline mt-8 text-5xl"
	>
		<HeaderLink
			href="/"
			class="font-inter font-light text-7xl tracking-[-0.165em]"
			>12</HeaderLink
		>
		<button id="menuToggle">
			<Icon
				name="ant-design:menu-outlined"
				class="md:hidden text-gray-50 w-16 h-16"
			/>
		</button>
		<div
			id="menu"
			class="flex flex-col items-baseline space-y-4 md:flex-row justify-center md:items-center md:space-x-8 no-underline font-thin font-open-sans"
		>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="https://github.com/je12emy" target="_blank">
				<Icon
					class="w-16 h-16 text-gray-50"
					name="ant-design:github-fill"
				/>
			</HeaderLink>
			<HeaderLink href="https://twitter.com/jel2emy" target="_blank">
				<Icon
					class="w-16 h-16 text-gray-50"
					name="ant-design:twitter-circle-filled"
				/>
			</HeaderLink>
		</div>
	</nav>
</header>
