---
import DateLabel from "./DateLabel.astro";

interface Props {
    url: string;
    title: string;
    date: string;
    description: string;
}

const { url, title, date, description } = Astro.props;
---

<section class="flex flex-col items-start text-xl space-y-2">
    <a href={url}><h1 class="font-semibold">{title}</h1></a>
    <p class="font-normal">{description}</p>
    <DateLabel date={date} />
</section>
