---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

type Props = {
	class?: string;
};

const { class: className } = Astro.props;
---

<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class:list={[className, "bg-slate-900 mx-8 md:mx-56"]}>
		<Header />
		<slot />
	</body>
</html>
