---
import Main from "../layouts/Main.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
	<Main class="justify-center">
		<article
			class="m-10 h-full font-light text-lg flex flex-col w-4/5 items-center justify-center text-left space-y-1"
		>
			<h1 class="font-medium mr-auto">{title}</h1>
			{pubDate && <time class="font-light text-gray-600 mr-auto">{pubDate}</time>}
			<slot class="font-light" />
		</article>
	</Main>
</html>
