---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import DateLabel from "../components/DateLabel.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body
		class="w-screen h-screen flex flex-col font-atkinson bg-dark text-white px-4 md:px-24 lg:px-48 xl:px-56 2xl:px-96"
	>
		<Header />
		<article
			class="font-normal leading-relaxed text-lg text-left space-y-4"
		>
			<div class="flex flex-col space-y-2 text-xl">
				<h1 class="font-semibold mr-auto">{">"} {title}</h1>
				{pubDate && <DateLabel class="mr-auto" date={pubDate} />}
			</div>
			<slot />
		</article>
		<Footer />
		<style>
			article :global(h1, h2, h3, h4, h5, h6) {
				@apply font-semibold text-left;
			}

			aritcle :global(p) {
				@apply text-left mr-auto w-full overflow-y-scroll;
			}

			article :global(blockquote) {
				@apply bg-[#292929] p-4 shadow-sm;
			}

			article :global(ul) {
				@apply list-disc list-inside indent-1 mx-4;
			}

			article :global(a) {
				@apply underline;
			}
		</style>
	</body>
</html>
