---
import BaseHead from "../components/BaseHead.astro";
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import DateLabel from "../components/DateLabel.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Main class="justify-center overflow-y-scroll">
		<article
			class="m-10 h-full font-normal leading-normal text-lg flex flex-col w-4/5 md:items-center md:justify-center text-left space-y-1"
		>
			<h1 class="font-semibold mr-auto">{title}</h1>
			{pubDate && <DateLabel class="mr-auto" date={pubDate} />}
			<slot />
		</article>
	</Main>
</html>
