---
import BaseHead from "../components/BaseHead.astro";
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Main class="justify-center">
		<article
			class="m-10 h-full font-normal leading-normal text-lg flex flex-col w-4/5 items-center justify-center text-left space-y-1"
		>
			<h1 class="font-medium mr-auto">{title}</h1>
			{
				pubDate && (
					<time class="font-light text-gray-600 mr-auto">
						{pubDate}
					</time>
				)
			}
			<slot />
		</article>
	</Main>
</html>
