---
import Header from "../components/Header.astro";

interface Props {
    class?: string;
}

const { class: classList } = Astro.props;
---

<body class="w-screen h-screen flex flex-col md:flex-row justify-center md:justify-between font-ibm_plex_sans bg-dark text-white">
    <Header />
    <main
        class:list={["w-full h-full flex flex-col", classList]}
    >
        <slot />
    </main>
</body>
