---
import Header from "../components/Header.astro"
---

<body class="w-screen h-screen flex flex-row justify-between">
    <Header />
    <main class="w-full h-full flex flex-col justify-center space-y-2">
        <slot />
    </main>
</body>
