---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
    class?: string;
}

const { class: classList } = Astro.props;
---

<body
    class="w-screen h-screen flex flex-col space-y-8 font-ibm_plex_sans bg-dark text-white px-4 md:px-24 lg:px-48 xl:px-56 2xl:px-96"
>
    <Header />
    <main class:list={["w-full h-full flex flex-col", classList]}>
        <slot />
    </main>
    <Footer />
</body>
